<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
<body>
    <form action="/" method="GET">
        <label for="search">Search</label>
        <input type="text" id="search" name="search">
        <button type="submit">Submit</button>
    </form>
    <ul>
        <% users.forEach((currUser) => { %>
            <li><%= currUser.username %></li>
        <% }) %>
    </ul>
    <a href="/delete">Delete all users</a>
</body>
</html>
