body {
    display: flex;
    justify-content: center;
}

img {
    height: 140px;
}

.frame {
    height: 140px;
    max-width: 100vw;
    position: relative;
    overflow: clip;
}

.pics {
    height: 140px;
    position: relative;
}
